.title {
  font-size: 36px;
  line-height: 44px;
  padding: 0 20px;
}

.content {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.mainContent {
  flex: 1;
  max-width: calc(100% - 390px);
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 976px) {
  
  .content {
    flex-direction: column;
  }
  .mainContent {
    flex: 1;
    max-width: calc(100%);
    min-width: 320px;
    display: flex;
    flex-direction: column;
  }
}